*{
    margin: 0;
    padding: 0;
    transition: 0.6s;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: whitesmoke;
}
.main{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-project{
    display: flex;
    background-color: white;
    width: 100%;
    height: auto;
    box-shadow: 0 0 2px gray;
}
.about-project__main-image{
    min-width: 40%;
    max-width: 50%;
    height: auto;
}
.about-project__information{
    max-width: 60%;
    flex-grow: 2;
    padding: 0.5em;
    background: #00979c;
    color: white;
}
.about-project__title{
    font-size: 3em;
}
.about-project__master{
    font-size: 1.2em;
}
.about-project__text{
    padding: 20px 0;
    font-size: 1.5em;
}
.parts{
    padding:0 5px;
    width: 100%;
}
.subtitle{
    margin: 5px 20px 20px 20px;
    font-size: 2em;
}
.parts__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.parts__illustration{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}
.parts__item-image{
    width: 250px;
}
.parts__item{
    text-align: center;
    margin: 5px;
    box-shadow: 0 0 5px gray;
}
.parts__item:hover{
    box-shadow: 0 0 10px gray;
}
.parts__item-title{
    background-color: #00979c;
    color: white;
    padding: 0.1em;
    font-size: 1.6em;
    font-weight: bolder;
    width: 250px;
    min-height: 3.2em;
}
.connect{
    margin: 10px 20px;
}
.connect__image-container{
    text-align: center;
}
.connect__img{
    max-height: 768px;
    max-width: 100%;
}
.sketch{
    background: white;
    box-shadow: 0 0 2px gray;
    margin: 10px 20px;
}
.sketch-around-code{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sketch-code{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow: visible;
}
.sketch__download{
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 32px;
    padding: 5px;
    height: 32px;
    background-size: 100%;
    background-color: #00979c;
    opacity: 0.75;
    text-align: center;
}
.sketch__download:hover{
    opacity: 1;
    background: #005c5f;
}



