@media screen  and (max-width: 1310px){
    .about-project__title{
        font-size: 1em;
    }/*
    .about-project__main-image{
        max-width: 400px;
    }*/
    .about-project__master{
        font-size: 1em;
    }
    .about-project__text{
        font-size: 1em;
    }
    .connect__img{
        width: 100%;
    }
    .sketch__around-code{
        align-items: center;
    }
}
@media screen and (max-width: 768px){
    .project__illustration{
        width: 100%;
        height: auto;
    }
    .about-project{
        display: block;
    }
    .about-project__main-image{
        width: 100%;
        max-width: 100%;
    }
    .about-project__information{
        max-width: 100%;
    }
    .sketch__download{
        opacity: 0.5;
    }
}
