*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
}
.main{
    margin: 120px 0 0;
    padding: 0 30px;
}
.content{
}
.group{
    padding: 10px 0;
}
.fieldset{
    margin: 20px 0;
    border: none;
    display: flex;
    justify-content:space-between;
}

.fieldset__input-file{
    display: none;
}
.fieldset__label-upload{
    font-size: 21px;
    text-align: center;
    background-color: whitesmoke;
    color: #454545;
    border: #454545 solid 1px;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: 500;
}
.fieldset__label-upload:hover{
    background-color: lightgray;
}
.fieldset__label{
    font-weight: 600;
    width: 300px;
    font-size: 1.3em;
}
.fieldset__input-text{
    font-size: 1.5em;
    padding: 5px 10px;
    font-weight: 400;
    width: 100%;
}
.fieldset__textarea{
    font-size: 1em;
    padding: 0.2em;
    width: 100%;
    min-height: 50vh;
}
.fieldset__label-upload{
    float: left;
    display: block;
    width: 250px;
}
.fieldset__upload{
    width: 100%;
}
.fieldset__label-link{
    width:30px;
    height: 30px;
    background-color: #454545;
    display: block;
}
.fieldset__input-link{
    width: 0;
    overflow: hidden;
    border: none;
}
