main *{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: rgba(0, 0, 0, 0.01);
}
.main{
    padding: 20px 20px;
}
.main__title{
    text-align: center;
    color: #007074;
    font-size: 2.2em;
    text-transform: uppercase;
    padding:20px 0;
}
.main *{
    display: block;
    transition: 0.5s;
}
.group{
    padding: 0 10px;
}
.group__title{
    font-weight: 500;
    font-size: 1.8em;
    padding: 10px 0 0;
}
fieldset{
    border: none;
}
.fieldset{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}
.fieldset__input{
    font-size: 1.4em;
    font-weight: bolder;
    text-transform: uppercase;
}
.fieldset__input, .fieldset__textarea, .form-image{
    flex-grow: 2;
}
.fieldset-part__input-number, .fieldset-part__input-name,
.fieldset__input, .fieldset__textarea{
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    padding: 5px 10px;
}
.fieldset__textarea{
    min-height: 250px;
    font-size: 1.2em;
}
.fieldset{
    padding: 20px;
}
.fieldset__label{
    min-width: 300px;
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
}
.fieldset-parts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fieldset-part{
    margin: 5px 0;
    width: 75%;
    height: max-content;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fieldset-part__input-name{
    font-size: 1.2em;
    flex-grow: 2;
}
.fieldset-part__input-number{
    font-size: 1.2em;
    max-width: 90px;
}
.fieldset-part__del{
    width: 24px;
    height: 24px;
    background-image: url("../../images/close-icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 5px;
    border: none;
}
.fieldset-part__del:hover{
    background-color: rgba(255, 0, 0, 0.25);
}
.fieldset-part__add{
    width: 50%;
    height: 50px;
    padding: 5px;
    border: none;
    background-color: #e8e8e8;
}
.fieldset-part__add:hover{
    background-color: #d7d7d7;
}
.sketch{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sketch *{
    transition: 1s;
}
.fieldset-link{
    display: flex;
}
.fieldset-link__btn{
    padding: 5px;
    display: flex;
    align-items: center;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: #444444;
    height: 50px;
}
.fieldset-link__btn:hover{
    background-color: #000000;
}
.fieldset-link__label{
    margin-left: 5px;
    display: inline-block;
    background-image: url("../../images/github-light-icon.png");
    background-size: auto 100%;
    width: 32px;
    height: 32px;
}
.fieldset-link__link{
    background-color: #444444;
    border: none;
    overflow: hidden;
    max-width: 0;
}
.fieldset-link_open .fieldset-link__link{
    padding: 5px 10px;
    font-size: 1.2em;
    min-width: 300px;
    background-color: #e2e2e2;
    max-width: 100%;
}
.sketch__or{
    padding: 10px 0;
    font-size: 2em;
    font-weight: bold;
}
.form__btn{
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}
.form__submit {
    min-width: 200px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #00979d;
    color: white;
    border: none;
    font-weight: 600;
}
.form__submit:hover{
    background-color: #007074;
    color: white;
}
.uploadProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.58);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1900;
}
.uploadProject__text{
    background-color: rgba(255, 255, 255, 0.84);
    font-size: 2.2em;
    font-weight: normal;
    text-align: center;
    color: #007074;

}
.uploadProject__buttonEnd{
    padding: 10px;
    background-color: #00979c;
    color: white;
    font-size: 1.4em;
    width: 320px;
    border: none;
}
.uploadProject__buttonEnd:hover{
    background-color: #004a4c;
}
input:invalid{
    border: 2px solid rgba(255, 0, 0, 0.53);
}
textarea:invalid{
    border: 2px solid red;
}