@media screen and (max-width: 1366px) {
    .cat-list {
        position: relative;
        top: 0;
        left: 0;
        display: none;
    }

    #drop-btn:checked ~ .cat-list {
        display: block;
    }

    .cat-list__ref {
        padding: 10px 0;
        font-size: 1.2em;
        color: black;
        background-color: lightblue;
        width: 100%;
    }
    .category {
        position: relative;
        padding: 0;
    }

    .item {
        margin-top: 0;
    }

    #drop-btn + label {
        height: 50px;
        background-color: cadetblue;
        color: white;
        text-align: center;
        display: block;
        width: 100%;
    }

    #drop-btn + label > h4 {
        display: block;
        padding: 10px 0;
    }

    #drop-btn + label:hover {
        background-color: teal;
    }
}

@media screen and (max-width: 910px) {
    .content {
        width: auto;
        margin-left: 0;
    }
}

@media screen and (max-width: 680px) {
    .content {
        width: auto;
        margin-left: 0;
    }
}