@media screen and (max-width: 1040px){
    .between__line{
        width: 100%;
        height: 5px;
        margin-left: 0;
        margin-right: 0;
    }
    .between{
        width: 100%;
        height: 10px;
    }
    .registersug{
        width: 100%;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .registersug{
        margin-top: -50px;
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    
 }
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1040px) {
    .registersug{
        margin-top: -150px;
    }
    
 }