@media screen and (max-width: 1040px){
    .between__line{
        width: 100%;
        height: 5px;
        margin-left: 0;
        margin-right: 0;
    }
    .between{
        width: 100%;
        height: 10px;
    }
    .registersug{
        width: 100%;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .registersug{
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: center;
    }
    
 }