.main {
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.title{
    padding: 1em;
    font-size: 1.6em;
}
.project-communication{
    display: flex;
    justify-content: center;
    height: 70px;
    transition: 1s;
}
.project-communication_scroll{
}
.project-communication_scroll .search-and-add-project{
    max-width: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1487;
    top: 45px;
    padding: 5px 10px;
    background-color: #00979d;
}
.search-and-add-project{
    transition: 0.4s;
    margin: 20px 0;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.search{
    flex-grow: 2;
    display: flex;
    align-items: center;
}
.search__input{
    background-color: lightcyan;
    color: #00979c;
    height: 42px;
    flex-grow: 2;
    box-sizing: border-box;
    padding: 6px;
    font-size: 20px;
    border-style: none;
}
.search__btn, .add-project__btn{
    padding: 4px;
    height: 42px;
    border-style: none;
    background-color: #00979c;
}
.search__btn:hover{
    background-color: #005c5f;
}
.add-project{
    display: block;
}
.add-project__btn{
    background-color: white;
    display: block;
    border-color: #00979c;
    border-style: solid;
    border-width: 2px;
    color: #00979c;
    font-weight: bold;
    padding: 8px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.list-projects *{transition: 0.6s;}
.list-projects{
    max-width: 1200px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    box-shadow: 0 0 2px gray;
    background-color: #fbfbfb;
    width: 360px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project__illustration{
    position: relative;
    overflow: hidden;
    width: 360px;
    height: 270px;
}
.project__img{
    position: absolute;
}
.project__about{
    position: absolute;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    padding: 5px;
    font-weight: bolder;
    visibility: hidden;
    color: rgba(255, 255, 255, 0);
}
.project:hover .project__about{
    visibility: visible;
    color: white;
    background-color: rgba(0, 151, 156, 0.85);
}
.project__name{
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    min-height: 2.8em;
    padding: 5px;
}
.project__information{
    background-color: #7f7f7f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px 5px;

}
.project__maker{font-weight: lighter}
.project:hover{background-color: #00979c;}
.project:hover .project__name{color: white}
.project:hover .project__information{background-color: #007074;}