@media screen and (max-width: 1310px){
    .list-projects{
        padding: 0;
    }
    .project-communication{
        padding: 5px;
    }
}
@media screen and (max-width: 768px) {
    .project{
        margin: 5px 0;
    }
    .list-projects{
        display: block;
    }
}
