@media screen and (max-width: 768px){
    .header{
        position: relative;
        height: 45px;
    }
    .nav{
        height: 45px;
        justify-content: space-between;
    }
    .logo{
        height: 45px;
        width: 80px;
    }
    .nav__sign-in{
        display: none;
    }
    .navpanel{
        display: none;
    }
    .menu{
        display: flex;
        align-items: center;
    }
    .menu__box{
        transition: 1s;
        text-align: center;
        overflow: hidden;
        max-height: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 45px
    }
    .menu__item{
        display: block;
        background-color: #7fcbcd;
        border-bottom: 1px solid #a5f2ee;
        color: #005c5f;
        width: 100%;
        padding: 18px 14px
        
    }
    .menu__sign-in{
        display: block;
        font-weight: 600;
        color: white;
        font-size: 18px;
        padding: 5px 10px;
    }
    .menu__btn-icon{
        margin: 5px;
        height: 25px;
        width: 25px;
        background-image: url(../../images/burger-menu-icon_light.png);
        background-size: 100% 100%;
        background-clip: content-box;
    }
    .menu__btn{
        background-color: transparent;
        border: none;
        padding: 5px;
    }
    .menu_open > .menu__box{
        max-height: 1000px;
    }
}