body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    font-size: 1.2em;
    background-color: white;
    display: flex;
    justify-content: center;
}
.side-nav{
    margin: 20px 50px 0 0;
    list-style-type: none;
}
.side-nav__link{
    cursor: pointer;
    width: 200px;
    text-align: center;
    display: block;
    padding: 10px;
    color: #00979d;
    border-bottom: 2px solid #00979d;
}
.side-nav__link:hover{
    color: #004a4c;
}
.side-nav__in{
    overflow: hidden;
    list-style-type: none;
    background-color: whitesmoke;
    max-height: 0;
    transition: 1s;
}
.side-nav__in_open{
    max-height: 500px;
}
.side-nav__in .side-nav__link{
    border: none;
}
.content{
    max-width: 1024px;
}
.group{margin: 20px 0;}
.items{
    margin: 20px 0;
}
.items__item{
    width: max-content;
    position: relative;
    cursor: pointer;
}
.items__item:hover{
    color: #db9700;
}
.items__item::after{
    max-width: 500px;
    display: none;
    padding: 0.5em;
    font-size: 0.8em;
    font-weight: 500;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.95);
    color: #00979d;
    border: 2px solid #00979d;
    border-radius: 1em;
    top: 100%;
}
.items__item:hover::after{
    content: attr(aria-label);
    display: block;
}
