body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main{
    padding: 20px 0 0;
    font-size: 1.2em;
    background-color: white;
    display: flex;
    justify-content: center;
}
.side-nav{
    margin: 20px 50px 0 0;
    list-style-type: none;
}
.side-nav-item__link{
    cursor: pointer;
    width: 200px;
    text-align: center;
    display: block;
    padding: 10px;
    color: #00979d;
    border-bottom: 2px solid #00979d;
}
.side-nav-item__link:hover{
    color: #004a4c;
}
.side-nav-item__in{
    overflow: hidden;
    list-style-type: none;
    background-color: whitesmoke;
    max-height: 0;
    transition: 1s;
}
.side-nav-item_open .side-nav-item__in{
    max-height: 1000px;
}
.side-nav-item__in .side-nav-item__link{
    border: none;
}
.content{
    max-width: 70%;
}
.group{
    margin: 20px 0;
    border: #049ba060 2px solid;
    border-radius: 5px;
    padding: 10px;
}
.items{
    margin: 20px 0;
}
.command__name{
    transition: 1s;
    padding: 5px 10px;
    max-width: 300px;
    cursor: pointer;
}
.command__name:hover{
    background-color: rgb(179, 179, 179);
}
.command__prompt{
    transition: 1s;
    overflow: hidden;
    max-height: 0;
    color: white;
    border-radius: 0 10px 10px 10px;
}
.command__about-name{
    color: rgb(169, 255, 252);
}
.command_open{
    margin: 5px 0;
}
.command_open > .command__prompt{
    background-color: rgb(51, 51, 51);
    max-height: 1000px;
    padding: 10px 5px;
}
.command_open > .command__name{
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(51, 51, 51);
    color: rgb(169, 255, 252);
}