@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  
}
@media screen and (max-width: 1333px){
  .cat-list{
    position: relative;
    display: none;
    top: 0;
    left: 0;
  }
  #drop-btn:checked ~ .cat-list{
    display: block;
  }
  .cat-list__ref{
    color: black;
    background-color: lightblue;
    width: 100%;
  }
  .category{
    position: relative;
    padding: 0px;
  }
  .item{
    margin-top: 0px;
  }
  #drop-btn + label{
    height: 50px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    display: block;
    width: 100%;
  }
  #drop-btn + label > h4{
    display: block;
    padding: 10px 0 10px 0;
  }
  #drop-btn + label:hover{
    background-color: teal;
  }
}
@media screen and (max-width: 830px){
  label[for="techvalues"],
  label[for="FAQ"],
  label[for="documentation"],
  label[for="review"]{
    background-size: auto 75%;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
  }
  label[for="techvalues"]{
    background-image: url("../../images/icon-technique.png");
  }
  label[for="FAQ"]{
    background-image: url("../../images/icon-faq.png");
  }
  label[for="review"]{
    background-image: url("../../images/icon-review.png");
  }
  label[for="documentation"]{
    background-image: url("../../images/icon-platform.png");
  }
  .item{
    max-width: 500px;
  }
  #review:checked+label{
    color: transparent;
    background-color: #a5f2ee;
  }
  #techvalues:checked+label{
    color: transparent;
    background-color:  #a5f2ee;
  }
  #documentation:checked+label{
    color: transparent;
    background-color:  #a5f2ee;
  }
  #FAQ:checked+label{
    color: transparent;
    background-color:  #a5f2ee;
  }
  
}
@media screen and (max-width: 530px){
  .slide > img {
    max-width: 300px;  
  }
  .item{
    max-width: 300px;
    margin-left: -150px;
  }
  .slide{
    max-width: 100%;
  }
}