main{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.category{
}
.cat-list{
    list-style-type: none;
    position: fixed;
    top: 150px;
    left: 45px;
    text-transform: uppercase;
}
.cat-list__ref{
    font-weight: lighter;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 151, 157, 0.75);
    border-bottom: 1px solid #007074;
    padding: 10px 5px;
    width: 120px;
    display: block;
}
.cat-list__ref:hover{
    background-color: rgb(0, 102, 102);
    color: white;
}
.cat-list__ref_active{
    background-color: #a5f2ee;
    color: black;
}
.item{
    position: relative;
    left: 50%;
    margin-left: -400px;
    max-width: 800px;
}
.item__name{
    font-weight: normal;
    color: #00979d;
    padding: 10px 5px;
}
.iteminfo{
    width: 100%;
    padding-bottom: 30px;
}
.iteminfo__select{
    display: none;
}
.iteminfo__selectlabel-4{
    display: block;
    position: relative;
    background-color: rgb(143, 174, 175);
    text-align: center;
    margin: 0px;
    border: none;
    padding: 0px;
    width: 25%;
    height: 43px;
    cursor: pointer;
}
.iteminfo__selectlabel-3{
    display: block;
    position: relative;
    background-color: rgb(143, 174, 175);
    text-align: center;
    margin: 0px;
    border: none;
    padding: 0px;
    width: 33%;
    height: 43px;
    cursor: pointer;
}
.iteminfo__selectlabel-2{
    display: block;
    position: relative;
    background-color: rgb(143, 174, 175);
    text-align: center;
    margin: 0px;
    border: none;
    padding: 0px;
    width: 50%;
    height: 43px;
    cursor: pointer;
}
.iteminfo__selectlabel-1{
    display: block;
    position: relative;
    background-color: rgb(143, 174, 175);
    text-align: center;
    margin: 0px;
    border: none;
    padding: 0px;
    width: 100%;
    height: 43px;
    cursor: pointer;
}
.iteminfo__selectlabel-1:hover{
    background-color: cadetblue;
}

.iteminfo__selectlabel-2:hover{
    background-color: cadetblue;
}
.iteminfo__selectlabel-3:hover{
    background-color: cadetblue;
}
.iteminfo__selectlabel-4:hover{
    background-color: cadetblue;
}
.item__name{
    display: block;
    width: 100%;
    text-align: center;
}
.infocontent > div {
    display: none;
}
.infocontent td, .infocontent tr,.infocontent table{
    border: 1px solid black;
    border-collapse: collapse;
}
.infocontent ul, .infocontent ol{
    margin-left: 20px;
}
.infocontent img{
    width: 100%;
}
.infocontent p, ul, table {
    margin-bottom: 20px;
}
#review:checked ~ .infocontent #infocontent__review{
    display: block;
}
#techvalues:checked ~ .infocontent #infocontent__techvalues{
    display: block;
}
#documentation:checked ~ .infocontent #infocontent__documentation{
    display: block;
}
#FAQ:checked ~ .infocontent #infocontent__FAQ{
    display: block;
}
#review:checked+label{
    color: white;
    background-color: teal;
}
#techvalues:checked+label{
    color: white;
    background-color: teal;
}
#documentation:checked+label{
    color: white;
    background-color: teal;
}
#FAQ:checked+label{
    color: white;
    background-color: teal;
}
#review+label{
    margin-top: 0px;
    left: 0%;
}
#techvalues+label{
    margin-top: -43px;
    left: 25%;
}
#documentation+label{
    margin-top: -43px;
    left: 50%;
}
#FAQ+label{
    margin-top: -43px;
    left: 75%;
}
/* image slide css*/
.slider {
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 520px;
    max-height: 330px;
  }
.slide {
    display: none;
    max-width: 520px;
    max-height: 330px;
}
.slide > img {
    background-color: grey;
}
.wrap__radio{
    display: none;
}
.slide-nav{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    
}
.slide-nav__label{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    width: max-content;
    height: 75px;
    cursor: pointer;
}
.slide-nav__label > img {
    background-color: grey;
}
.slide-nav__label img:hover{
    opacity: 0.7;
}
#slide1:checked ~ .slider #slide-1{
    display:block
}
#slide2:checked ~ .slider #slide-2{
    display:block
}
#slide3:checked ~ .slider #slide-3{
    display:block
}
#slide4:checked ~ .slider #slide-4{
    display:block
}
#slide5:checked ~ .slider #slide-5{
    display:block
}
#slide6:checked ~ .slider #slide-6{
    display:block
}
#slide7:checked ~ .slider #slide-7{
    display:block
}
#slide8:checked ~ .slider #slide-8{
    display:block
}

#drop-btn{
    display: none;
}
#drop-btn+label{
    display: none;
    cursor: pointer;
    width: 100%;
}
td{
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}
