@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  
}
@media screen and (max-width: 1333px){
  .cat-list{
    position: relative;
    display: none;
  }
  #drop-btn:checked ~ .cat-list{
    display: block;
  }
  .cat-list__ref{
    color: black;
    background-color: lightblue;
    width: 100%;
  }
  .category{
    position: relative;
    padding: 0px;  
  }
  .item{
    margin-top: 0px;
  }
  #drop-btn + label{
    height: 50px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    display: block;
    width: 100%;
  }
  #drop-btn + label > h4{
    display: block;
    padding: 10px 0px 10px 0px;
  }
  #drop-btn + label:hover{
    background-color: teal;
  }
}
@media screen and (max-width: 830px){

  .item{
    max-width: 500px;
    margin-left: -250px;
  }
  
}
@media screen and (max-width: 530px){
  .slide > img {
    max-width: 300px;  
  }
  .item{
    max-width: 300px;
    margin-left: -150px;
  }
  .slide{
    max-width: 100%;
  }
}