
@media screen and (max-width: 1310px) {
    .nav{
        display: none;
    }
    .nav-mobile{
        background-color: rgba(255, 255, 255, 0.99);
        z-index: 1859;
        position: fixed;
        display: block;
        height: 90px;
        width: 100%;
        box-shadow: 2px 0 5px lightgray;
    }
    .logo{
        display: block;
    }
    .logo__link{
        display: block;
    }
    .menu{
        width: 100%;
    }
    .menu__toggle{
        position: absolute;
        right: 0;
        top: 0;
        padding: 21px;
        height: 90px;
        width: 90px;
        background-color: transparent;
        border-style: none;
    }
    .menu__btn{
        display: block;
        height: 48px;
        width: 48px;
        background-image: url("../images/burger-menu-icon.png");
        background-size: 100%;
    }
    .menu__box{
        transition: 1s;
        display: none;
        visibility: hidden;
        width: 100%;
        left: 0;
    }
    .menu__box_open{
        display: flex;
        flex-direction: column;
        visibility: visible;
    }
    .menu__item{
        text-align: center;
        background-color: white;
        font-size: 30px;
        padding: 5px;

    }
    .menu__link{
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-color: rgba(0, 151, 156, 0.68);
    }

}