@media screen and (max-width: 768px) {
    header{
      z-index: 999;
    }
    .navpanel{
        display: none;
        top: 0px;
    }
    .menu__btn{
      z-index: 1000;
    }
    .menu{
         z-index: 1000;
        display: block;
    }
    .nav__singin{
      margin: 0px 50px 0px 0px;
    }
    .logo{
      width: 70px;
      max-height: 50px;
    }
    .logo__ref{
        zoom: 0.2;
    }
    header{
        max-height: 50px;

    }
    main{
        padding-top: 50px;
    }
    .menu__box{
        display: block;
        z-index: 46;
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        top: 50px;
      }
      #menu__toggle:checked ~ .menu__item {
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        transition-duration: .25s;
      }
      .menu__box {
          z-index: 46;
        transition-duration: .25s;
      }
      .menu__item {
          z-index: 46;
        transition-duration: .25s;
      }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #news{
      position: relative;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 768px) {
    #menu__btn{
      visibility: visible;
      opacity: 100;
      -ms-z-index: 1001;
    }
}