*{
    margin: 0;
    padding: 0;
    transition: 0.4s;
}
a{
    color: inherit;
    text-decoration: none;
}
.main {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f5f5f5;
}
.title{
    padding: 1em;
    font-size: 1.6em;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list-projects{
    max-width: 1200px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project{
    box-shadow: 0 0 2px gray;
    background-color: #fbfbfb;
    width: 360px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project__illustration{
    width: 360px;
    height: 270px;
}
.project__img{
    position: absolute;
}
.project__about{
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    visibility: hidden;
    color: rgba(255, 255, 255, 0);
}
.project:hover .project__about{visibility: visible; color: white;background-color: rgba(0, 151, 156, 0.85);}
.project__name{
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    min-height: 2.8em;
    padding: 5px;
}
.project__information{
    background-color: #00979c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px 5px;

}
.project__maker{font-weight: lighter}
.project__respect{
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.project__btn{
    padding: 0 5px;
    fill: white;
    width: 32px;
    height: 32px;
}
.project__btn_press-respect{
    fill: red;
}
.project__num-stat-respect{
    font-weight: bold;
}
.no-press{
    fill: white;
}
.project:hover{background-color: #00979c;}
.project:hover .project__name{color: white}
.project:hover .project__information{background-color: #007074;}
.add-project__btn{
    border-color: #00979c;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    color: #00979c;
    font-weight: bold;
    padding: 8px;
}
.add-project__btn_mobile{
    display: none;
}