@media screen and (max-width: 1310px) {
    .header{height: 60px;}
    .nav{
        display: none;
    }
    .nav-mobile{
        display: block;
        background-color: rgba(255, 255, 255, 0.99);
        box-shadow: 0 0 2px gray;
        z-index: 1859;
        position: fixed;
        height: 60px;
        width: 100%;
    }
    .logo{
        padding: 10px 5px;
        width: 90px;
        height: 60px;
    }
    .logo__link{
        height: 40px;
        width: 80px;
    }
    .menu{
        width: 100%;
    }
    .menu__toggle{
        position: absolute;
        right: 0;
        top: 0;
        border-style: none;
        padding: 5px;
        height: 100%;
        background-color: transparent;
    }
    .menu__toggle:focus{
        border-style: none;
    }
    .menu__btn{
        display: block;
        height: 32px;
        width: 32px;
        background-image: url("../images/burger-menu-icon.png");
        background-size: 100%;
    }
    .menu__box{
        padding: 10px;
        transition: 1s;
        display: none;
        visibility: hidden;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.99);
    }
    .menu__box_open{
        display: flex;
        flex-direction: column;
        align-items: center;
        visibility: visible;
    }
    .menu__link{
        text-align: center;
        color: #00979c;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #00979c;
        display: block;
        background-color: white;
        font-size: 30px;
        padding: 5px;
        width: 300px;
    }
    .menu__link:hover{
        background-color: #00979c;
        color: white;
    }
    .menu__link_sign-in{
        background-color: #00979d;
        color: white;
        border-radius: 5px;
        border-style: none;
        margin: 5px 0;
    }
    .menu__link_sign-in:hover{
        background-color: #005c5f;
    }
}