.question{
    width: 100%;
    clear: both;
    margin-bottom: 20px;
    color: #00979c;
}
.answer{
    width: 100%;
    margin-bottom: 30px;
}
.privacy-policy{
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    max-width: 920px;
    padding-left: 10px;
    padding-right: 10px;
}
.answer__text{
    display: block;
}
.privacy-policy__text{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.privacy-policy__text strong{
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}
.answer__text strong{
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}
.privacy-policy__ol{
    margin-left: 1.5em;   
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    list-style-position: outside;
    font-family: inherit; 
}
.privacy-policy__ol a{
    color: #00979c;
    text-decoration: none;
}
.privacy-policy__ol a:hover{
    text-decoration: underline;
}
.vaspce{
    height: 1px;
    display: block;
    color: white;
}



@media only screen and (max-width: 768px){
    .privacy-policy{
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-stretch: normal;
        font-family: serif;
    }
}
.privacy-policy {
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 114%;
    line-height: 1.75;
    font-family: serif;
}
